In [2]:
print("""There are 4 types of functions:- 
1. Round Function
2. Divmod Function
3. Isinstance Function
4. Power Function""")

There are 4 types of functions:-
1. Round Function
2. Divmod Function
3. Isinstance Function
4. Power Function

# 1. Round() Function :-

Round function in python programming is in built function.

In [5]:
print(round(79.86985))

80

In [6]:
print(round(36.54672))

37

In [7]:
a=59.68796
round(a)

60

In [9]:
b=56.7864056
round(a,3)             # 3 decimal values tak print krega.

59.688

In [19]:
"""Mohan buys 3 tablet cost of 1 tablet is rs. 45.67, cost of second tablet is rs. 68.967 and cost of 3 tablet is rs. 574.784. Find the total cost he will pay? """

Tablet_one = 45.67
Tablet_second = 68.967
Tablet_third = 574.784
print(Tablet_one+Tablet_second+Tablet_third)
print(round(Tablet_one+Tablet_second+Tablet_third))

689.421
689

In [20]:
round(7869.785667)

7870

# 2. Divmod() Function :-

In [21]:
# divmod(x,y) outputs the quotient and remainder in the tuple.

In [23]:
divmod(27,5) # 27/5 = 5-->Quotient and 2-->Remainder

(5, 2)

# Tuples are used to store multiple vaules in a single variable.

In [25]:
a=divmod(25,7)
print(a)           # 25/7 = 3--> Quotient , 4--> Remainder

(3, 4)

In [26]:
type(a)

tuple

In [28]:
a

(3, 4)

In [27]:
a[0]

3

In [29]:
a[1]

4

In [31]:
b=divmod(76895.67,3)
print(b)

(25631.0, 2.6699999999982538)

In [32]:
print("""Que-1. Divide the number 148.789 by 12,13,14 and 15 seprately, and their quotient and remainder add.\nSol.""")

a=divmod(148.789,12)
b=divmod(148.789,13)
c=divmod(148.789,14)
d=divmod(148.789,15)
print(a,b,c,d)

Que-1. Divide the number 148.789 by 12,13,14 and 15 seprately, and their quotient and remainder add.
Sol.
(12.0, 4.788999999999987) (11.0, 5.788999999999987) (10.0, 8.788999999999987) (9.0, 13.788999999999987)

In [33]:
q = a[0]+b[0]+c[0]+d[0]
print("Sum of Quotient are :",q)
r=a[1]+b[1]+c[1]+d[1]
print("Sum of remainder are :",r)

Sum of Quotient are : 42.0
Sum of remainder are : 33.15599999999995

# 3. isinstance() Function :-

# The isinstance() function returns True if the specified object is of the specified type, Otherwise False.

In [16]:
# Syntax :-

isinstance(object,type)

# In object only one number will be provide.
# In type multiple values like- int, float, complex, str are provide.

True

In [5]:
print(isinstance(1, int))   # Because 1 is a integer.

True

In [7]:
print(isinstance(2.7,int))  # Because 2.7 is a floating number.

False

In [9]:
print(isinstance(4.9, (int,float)))  # Because 4.9 is a floating number.

True

In [15]:
print(isinstance(3+7j, (int,float)))   # 3+7j is a complex number but here mention only int and float so this is False.

False

In [18]:
print(isinstance("python is very amazing", (int, str, float)))

True

# Power / pow() function :-

In [22]:
# The pow() function returns the value of x to the power of y(xy).
# If the third parameter is present, it returns x to the power of y, modulus z.

# pow(x,y,z) - x raise to the power of y and divide by z.

In [25]:
# pow(x,y)
# Ex-1.
pow(2,4)    # Because x^y = 2^4 = 16

16

In [27]:
# Ex-2.
pow(3,6,7)    # Because 3**6 / 7 = 729 / 7 = 1 --> Remainder.

1

In [29]:
# Ex-3.
pow(4,3,8)    # Because 4**3 / 8 = 64/8 = 0 --> Remainder

0

In [31]:
pow(3,6,8)    # Because 3**6 / 8 = 729 / 8 = 1 --> Remainder.

1

In [34]:
pow(3+4j,2)      # Formula -[(a+b)*2 = a*2 + b*2 + 2*a*b], (j)*2 = -1

(-7+24j)

In [36]:
pow(2,4,7)     # Because 2**4 / 7 = 16 /7 = 2 --> Remainder

2

In [42]:
# Que-1. 24 raise to the power 2,3,4,5 and divide it by 7. Find the remainder in each case.

a=pow(24,2,7)
b=pow(24,3,7)
c=pow(24,4,7)
d=pow(24,5,7)
print(a,b,c,d)      # 2 6 4 5 ---> Remainders

2 6 4 5

In [43]:
print(a+b+c+d)

17

In [45]:
# Que-2. 63 raise to the power 45 and divide it by 52. Find the remainder.

a=pow(63,45,52)
print(a)

47

# Built-in-Function :-

# 1. Input function :- This function first takes the input from the user and converts it into a string.
# Syntax :- inp = input("Statement")

# 2. Int function :- The int() function converts the specified value into an integer number.

# 3. Float function :- It is converts value into floating point number.

# # input, int, float function examples :-

In [5]:
x=input("Enter the value : ")           # Given value always in string format.

Enter the value :  43

In [6]:
print(x,type(x))

43 <class 'str'>

In [9]:
x=int(x)
print(x,type(x))

43 <class 'int'>

In [10]:
print(x-20)
print(x-17)

23
26

In [5]:
a=input("Hello user, Please enter your value : ")
print(a,type(a))

Hello user, Please enter your value :  89

89 <class 'str'>

In [6]:
a=int(a)
print(a,type(a))

89 <class 'int'>

In [7]:
print(a-20)

69

In [11]:
# Que-1. Lets make a result of the student ask the user to enter the marks of english, hindi, maths, social study and science. Find out the percent of the student.

a=int(input("Enter the marks of maths :"))
b=int(input("Enter the marks of social study :"))
c=int(input("Enter the marks of science :"))
d=int(input("Enter the marks of hindi :"))
e=int(input("Enter the marks of english :"))
print(a+b+c+d+e)

Enter the marks of maths : 86
Enter the marks of social study : 59
Enter the marks of science : 79
Enter the marks of hindi : 67
Enter the marks of english : 80

371

In [1]:
print(371/500*100)

74.2

# 4. len (Length) function :-

In [2]:
# The len function returns the number of item is an object. When the object is a string, the len() function returns the number of characters in the string.
# It returns the length of an object.

In [4]:
a="I am learning python"
len(a)

20

In [6]:
x="Python is a high level programming language."
len(x)

44

In [7]:
l=[12,17,45,67,89,62,90,76]
len(l)

8

In [8]:
a=12345
len(a)

TypeError: object of type 'int' has no len()

# 5. Min and Max function :-

In [9]:
L = [13,27,83,76,56,73]
min(L)

13

In [10]:
max(L)

83

In [14]:
# Que-1. Ask the user to enter 5 values and find the minimum and the maximum values?

a=int(input("Enter First value : "))
b=int(input("Enter Second value : "))
c=int(input("Enter third value : "))
d=int(input("Enter forth value : "))
e=int(input("Enter fifth value : "))
print("Values given by user :",a,b,c,d,e)
print("Minimum value is",min(a,b,c,d,e))
print("Maximum value is",max(a,b,c,d,e))

Enter First value :  88
Enter Second value :  65
Enter third value :  37
Enter forth value :  49
Enter fifth value :  90

Values given by user : 88 65 37 49 90
Minimum value is 37
Maximum value is 90

# 6. Sorted function :- 
# The sorted() function returns a sorted list of the specified iteable object.

In [15]:
l=[16,62,73,26,45,75,82]
sorted(l)  # By default assending.

[16, 26, 45, 62, 73, 75, 82]

In [17]:
sorted(l,reverse=True)   # For desending.

[82, 75, 73, 62, 45, 26, 16]

In [21]:
# Que-1. Take 5 values from the user and arrange them in assending and desending order.

a=int(input("Enter first value : "))
b=int(input("Enter second value : "))
c=int(input("Enter third value : "))
d=int(input("Enter forth value : "))
e=int(input("Enter fifth value : "))
x = (a,b,c,d,e)
print(x)
print(sorted(x))  # For assending
print(sorted(x,reverse=True)) # For desending

Enter first value :  76
Enter second value :  89
Enter third value :  98
Enter forth value :  56
Enter fifth value :  43

(76, 89, 98, 56, 43)
[43, 56, 76, 89, 98]
[98, 89, 76, 56, 43]

In [22]:
# 7. help function :-

help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.