# Sets :- A python set is a collection of unordered items. Each element in the set must be unique, immutable and the sets remove the duplicate element.
==> Sets are mutable, which means we can modify it after its creation.

Creating a set :- The set can be created by enclosing the comma-seperated immutable items with the  curly brackets {}.

Sets items :- Set items are unorderd, unchangeable and do not allow duplicate values.

Unorderd :- Unordered means that the items in a set do not have a defined order.

Unchangeable :- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Duplicate not allow :- Sets cannot have two items with the same value.

In [1]:
# Ex-1

s = {12,13,14,15}
print(s)
print(type(s))

{12, 13, 14, 15}
<class 'set'>

In [2]:
s = {15,35,34,76,32,65,34,-76,-45,-87,"code","hello","datascience"}
print(s)
print(type(s))

{32, 65, 34, 35, 'hello', -87, 76, 15, 'code', 'datascience', -45, -76}
<class 'set'>

In [9]:
# Unorderd :-

s = {25,32,87,45,42,68,45,23,"code","learning"}
print(s[0])

TypeError: 'set' object is not subscriptable

In [12]:
a = {54,63,78,12,43,67,87,16,54}
print(a)     # ---> Unordered collection

{67, 43, 12, 78, 16, 54, 87, 63}

In [13]:
# Duplicates not allowed :-

m = {23,54,54,23,12,67,18,89,34,90,23}
print(m)

{34, 67, 12, 18, 54, 23, 89, 90}

In [14]:
# Get the length of a set :-

a = {13,16,18,56,42,55,76}
print(len(a))

7

In [15]:
a = {True,False,True,True,False}
print(a)

{False, True}

In [17]:
b = {24,43,76,53,24,54,66}
print(b)     # ---> unordered

{66, 53, 54, 24, 43, 76}

In [18]:
# Access items :-

# Ex-1.

s = (23,45,65,78,13,25,33,69,80,68,55,2.6,7.83,"News","Water","Orange")
for i in s:
    print(i)

23
45
65
78
13
25
33
69
80
68
55
2.6
7.83
News
Water
Orange

In [19]:
# Ex-2.

s = (23,45,65,78,13,25,33,69,80,68,55,2.6,7.83,"News","Water","Orange")
print("News" in s)

True

In [20]:
print("apple" in s)

False

In [21]:
# Add() method :-

# Ex-1.

a = {23,12,35,15,35,72,24,13,14,"Nimish","Bihar"}
a.add("orange")
print(a)

{35, 72, 'Nimish', 12, 13, 14, 15, 'Bihar', 23, 24, 'orange'}

In [24]:
b = {54,65,51,73,88,43,"Code","Amit","Vikas"}
b.add({3,6})
print(b)

TypeError: unhashable type: 'set'

In [28]:
# Update() method :-

# Ex-1.

a = {13,21,43,35,65,27}
b = {65,54,63,27,18,53}
a.update(b)
print(a)        # ---> Not print repeated value

{65, 35, 43, 13, 18, 21, 53, 54, 27, 63}

In [29]:
# Ex-2.

a = {43,63,22,67,51,65,45,12}
b = {"Red","Orange","Find",2.37,5.87}
a.update(b)
print(a)

{65, 2.37, 67, 'Find', 'Orange', 5.87, 43, 12, 45, 51, 22, 'Red', 63}

In [30]:
b.update(a)
print(b)

{65, 2.37, 'Find', 'Orange', 5.87, 67, 12, 'Red', 22, 43, 45, 51, 63}

In [32]:
# Remove() method :-

a = {23,43,67,54,55,87,60,30,26,56,97}
a.remove(23)       # ---> For remove 1 value
print(a)

{97, 67, 43, 55, 54, 56, 87, 26, 60, 30}

In [35]:
# Discard() method :-

b = {23,43,67,54,55,87,60,30,26,56,97}
b.discard(67)      # ---> For remove 1 value
print(b)

{97, 43, 55, 54, 23, 56, 87, 26, 60, 30}

In [40]:
# pop() method :-

a = {54,34,76,87,25,35,86,53,25,73,"Lion","Vikram",2.67,5.24}
a.pop()      # ---> Randomly any one element remove in the set.
print(a)

{35, 2.67, 5.24, 'Vikram', 73, 76, 'Lion', 53, 54, 87, 86, 25}

In [42]:
# clear() method :-

a = {23,43,67,54,55,87,60,30,26,56,97}
a.clear()    # ---> all elements are delete but empty set are present.
print(a)
print(type(a))

set()
<class 'set'>

In [44]:
# del() method :- 

a = {23,43,67,54,55,87,60,30,26,56,97}
del(a)      # ---> complete set will be deleted.
print(a)

NameError: name 'a' is not defined

In [45]:
# python - join set :-

a = {23,43,67,54,55,87,60,30,26,56,97}
b = {43,76,56,44,26,52,72,83,63,34,33}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
# Union() method :-

# Ex-

a = {23,43,67,54}
b = {43,76,56,44,2}
c = a.union(b)
print(a)
print(b)
print(c)

{43, 67, 54, 23}
{2, 56, 43, 76, 44}
{2, 67, 43, 76, 44, 54, 23, 56}

In [56]:
# Ex-

a = {23,43,67,54,5}
b = {43,76,56,44,26,"Yash","python","Hello"}
c = a.union(b)
print(a)
print(b)
print(c)

{67, 5, 54, 23, 43}
{43, 76, 44, 'python', 'Yash', 'Hello', 56, 26}
{67, 5, 'Hello', 43, 76, 44, 'python', 'Yash', 54, 23, 56, 26}

In [58]:
# Difference between union() and updte() method :-

# Ex-

a = {45,2,34,41,95,35,66}
b = {4,5,6}
a.update(b)   #  ---> Without assign and create in variable
print(a)

{2, 35, 34, 66, 4, 5, 6, 41, 45, 95}

In [60]:
a = {45,2,34,41,95,35,66}
b = {4,5,6}
c = a.update(b)  # ---> Not getting result because update() method not working in assign variable.
print(c)

None

In [63]:
# union() method :-

a = {45,2,34,41,95,35,66}
b = {4,5,6}
c = a.union(b)   # ---> union() method working in assign value in variables.
print(a)
print(b)
print(c)

{2, 35, 34, 66, 41, 45, 95}
{4, 5, 6}
{2, 35, 34, 66, 4, 5, 6, 41, 45, 95}

In [69]:
# Intersection_update() method :-

# Ex-

a = {45,2,34,4,5,35,66,"apple"}
b = {4,5,6,"Cherry"}
a.intersection_update(b)       # ---> For find common values
print(a)

{4, 5}

In [70]:
a = {45,2,34,4,5,35,66,"apple"}
b = {4,5,6,"Cherry"}       
b.intersection_update(a)      # ---> For find common values
print(b)

{4, 5}

In [72]:
a = {45,2,34,4,5,35,66,"apple"}
b = {4,5,6,"Cherry"}  
c = b.intersection_update(a)    # ---> update() method not working in assign variable.
print(c)

None

In [73]:
# intersection() method :-

# Ex-

a = {45,2,34,4,5,35,66,"apple"}
b = {4,5,6,"Cherry"}
c = b.intersection(a)
print(a)
print(b)
print(c)

{2, 35, 4, 34, 5, 66, 'apple', 45}
{4, 5, 'Cherry', 6}
{4, 5}

In [74]:
m = {2.36,63.7,7.3,8.2,9.3}
n = {2.36,8.3,5.3,8.2,6.42}
o = m.intersection(n)
print(o)

{8.2, 2.36}

# difference() method :-

Que-1. Return a set that ccontains the item that only exist in set x not in set y.

In [75]:
# Sol-1.

x = {12,13,14,15,16,"delhi","jaipur","chennai"}
y = {10,11,13,14,"delhi"}
c = x.difference(y)
print(c)

{12, 'jaipur', 15, 16, 'chennai'}

In [76]:
c = y.difference(x)
print(c)

{10, 11}

In [77]:
# difference_update() method :-

# Remove the items that exist in both sets.

a = {45,2,34,4,5,35,66,"apple"}
b = {4,5,6,"Cherry"}  
a.difference_update(b)
print(a)

{2, 35, 34, 66, 'apple', 45}

In [78]:
b.difference_update(a)
print(b)

{4, 5, 'Cherry', 6}

In [79]:
# symmetric_difference_update() method :-

# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

a = {45,2,34,4,5,35,66,"apple","orange",2.45}
b = {4,5,6,"Cherry",5.67}
a.symmetric_difference_update(b)
print(a)

{2, 35, 34, 'Cherry', 66, 'apple', 2.45, 5.67, 6, 45, 'orange'}

In [80]:
b.symmetric_difference_update(a)
print(b)

{2, 66, 4, 5, 'apple', 2.45, 34, 35, 45, 'orange'}

In [88]:
# Symmetric_difference() method :-

# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

a = {45,2,34,4,5,35,66,"apple"}
b = {4,5,6,"Cherry"}
c = a.symmetric_difference(b)
print(c)

{2, 35, 34, 66, 'Cherry', 6, 'apple', 45}

In [90]:
d = b.symmetric_difference(a)
print(d)

{2, 35, 34, 'Cherry', 66, 'apple', 6, 45}

In [2]:
# isdisjoint() method :-

# ==> Return True if no item in set x is present in set y.

# Ex-

x = {12,34,53,34,22,54,67,77}
y = {10,23,4,3,5}
z = x.isdisjoint(y)               # True because any value not same in both x and y.
print(z)

True

In [4]:
z = y.isdisjoint(x)
print(z)

True

In [5]:
# issubset() method :-

# ==> Returns whether another set contains this set or not.

# Ex- 

x = {1,2,3,4,5,6}
y = {10,12,13,14,1,2,3,4,5,6}
z = x.issubset(y)                 # True because x all elements are present in y.
print(z)

True

In [6]:
z = y.issubset(x)
print(z)

False

In [8]:
# issuperset() method :-

# Return True if all items set y are present in set x.

# Ex - 

x = {"North","south","python","Cherry","apple",1,2,3}
y = {"apple",1,2,3,"North"}
z = x.issuperset(y)           # True because of y all elements are present is x.
print(z)

True

In [10]:
z = y.issuperset(x)            # Because of x all elements not present in y.
print(z)

False

In [11]:
# Ex- 

s = {3}
print(s)
print(type(s))

{3}
<class 'set'>

In [12]:
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [13]:
a = set()
print(a)
print(type(a))

set()
<class 'set'>

In [18]:
# set() method :-

# Ex - 

L = [12,13,14,15]           # {list to set convert method}
s = set(L)
print(L)
print(type(L))
print(s)
print(type(s))

[12, 13, 14, 15]
<class 'list'>
{12, 13, 14, 15}
<class 'set'>

In [20]:
s = {12,43,54,23,76,23,4}         # {set to list convert method}
l = list(s)
print(s)
print(type(s))
print(l)
print(type(l))

{4, 54, 23, 43, 12, 76}
<class 'set'>
[4, 54, 23, 43, 12, 76]
<class 'list'>

In [23]:
t = (10,23,34,12)        # {Tuple to set convert method}
s = set(t)
print(t,type(t))
print(s,type(s))

(10, 23, 34, 12) <class 'tuple'>
{10, 34, 12, 23} <class 'set'>

In [25]:
s = {12,34,76,45,34}    # {set to tuple convert method}
t = tuple(s)
print(s,type(s))
print(t,type(t))

{34, 12, 45, 76} <class 'set'>
(34, 12, 45, 76) <class 'tuple'>

In [26]:
# min() method :-

# Ex-

p = {12,17,23,18,22}
print(min(p))

12

In [27]:
a = {"Boy","cat","fan","python"}
print(min(a))

Boy

In [28]:
# max() method :-

# Ex -

p = {12,17,23,18,22}
print(max(p))

23

In [29]:
a = {"Boy","cat","fan","python"}
print(max(a))

python

# Copy() method :-

Que-1. Why you need copy() method?

In [31]:
a = {12,4,5,7,23,34,25}
b = a
a.add(10)
print(a)
print(b)            # Because value are add in both variables.

{34, 4, 5, 23, 7, 25, 10, 12}
{34, 4, 5, 23, 7, 25, 10, 12}

In [34]:
a = {12,4,5,7,23,34,25}
b = a.copy()
a.add(10)
print(a)
print(b)           # Copy() method add value only added in callable variable.

{34, 4, 5, 23, 7, 25, 10, 12}
{34, 4, 5, 23, 7, 25, 12}

# Que-1. intersection of 2 lists.

In [35]:
a = [3,4,5,7,8,9]
b = [1,2,3,4,5]
a1 = set(a)
b1 = set(b)
print(a1)
print(b1)
c = a1.intersection(b1)
print(c)
c = list(c)
print(c)

{3, 4, 5, 7, 8, 9}
{1, 2, 3, 4, 5}
{3, 4, 5}
[3, 4, 5]

# Que-2. Taking input in set from user.

In [36]:
a = set()
n = int(input("Enter the number of items you want to in set : "))
for i in range(n):
    b = input("Enter element : ")
    a.add(b)
print(a)

Enter the number of items you want to in set :  5
Enter element :  2
Enter element :  3
Enter element :  4
Enter element :  5
Enter element :  6

{'2', '5', '3', '4', '6'}

# Que-3. Write a python program to find the common items in s list using sets.

In [37]:
ar1 = [1,5,10,20,40,80]
ar2 = [6,7,20,80,100]
ar3 = [3,4,15,20,30,70,80,120]
ar1 = set(ar1)
ar2 = set(ar2)
ar3 = set(ar3)
print(ar1)
print(ar2)
print(ar3)
n = ar1.intersection(ar2)
print(n)
m = n.intersection(ar3)
print(m)
print(list(m))

{1, 5, 40, 10, 80, 20}
{100, 6, 7, 80, 20}
{3, 4, 70, 15, 80, 20, 120, 30}
{80, 20}
{80, 20}
[80, 20]