List - A list in python is used to store the sequence of various types of data.
==> Python lists are mutable which implies that we may modify its elements after it has been formed.
==> List items are ordered, changable and allow duplicate values.
==> List items are indexed, the first item has index [0], the second item has index [1] and so on.
Changable :- The list is changable, meaning that we can change, add and remove items in a list after it has been created.
Ordered :- When we say that lists are ordered, it means that the items have a defined order and that order will not change. If you add new items to a list, the new items will be placed at the end of the list.
Allow Duplicates :- Since lists are indexed, lists can have items with the same value.

In [5]:
# Ex - 

L = [12,56,23,67,78]
print(L,"\n",type(L))

[12, 56, 23, 67, 78]
 <class 'list'>

In [6]:
a = [15,76,45,73,67,49,-12,"Hello","Prashant"]
print(a)

[15, 76, 45, 73, 67, 49, -12, 'Hello', 'Prashant']

==> Indexing on lists :-

['a','b','c','d','e','f','g','h','i']
  0   1   2   3   4   5   6   7   8    ==> Positive Indexing
 -9  -8  -7  -6  -5  -4  -3  -2  -1    ==> Negative Indexing

==> Slicing on lists :- 

--> In python, list slicing is a common pratice and it is the most used technique for programmers to solve efficient problems.
--> List slicing returns a new list from the existing list.

Syntax :- 
            List[Initial : End : Index_Jump]

In [7]:
# Ex - 

a = [14,75,65,69,72,90,"Hello", "Students","Teacher"]
print(a[0])

14

In [8]:
print(a[-1])

Teacher

In [9]:
b = [15,56,34,98,52,43,48,"Hey","Morning","Holiday"]
print(b[0:5])

[15, 56, 34, 98, 52]

In [10]:
b = [15,56,34,98,52,43,48,"Hey","Morning","Holiday"]
print(b[2::2])

[34, 52, 48, 'Morning']

In [1]:
# Ex -

a = [23,43,45,81,37,"Vinayak","Suresh","Jai"]
print(a[0:5])

[23, 43, 45, 81, 37]

In [2]:
print(a[5:])

['Vinayak', 'Suresh', 'Jai']

In [5]:
print(a[::-1])         # For Reverse list.

['Jai', 'Suresh', 'Vinayak', 37, 81, 45, 43, 23]

In [6]:
x = [14,32,45,67,49,20,38,"Mahesh","Yash","Haresh"]
print(x[0::2])

[14, 45, 49, 38, 'Yash']

# Que-1. Divide a list into two lists and reverse it.

In [12]:
L = [45,74,24,53,89,14,15,-73,67,80,"apple","cat","Football"]
a = L[0:10]
print(a)
print(a[::-1])

b = L[-3:]
print(b)
print(L[::-1])

[45, 74, 24, 53, 89, 14, 15, -73, 67, 80]
[80, 67, -73, 15, 14, 89, 53, 24, 74, 45]
['apple', 'cat', 'Football']
['Football', 'cat', 'apple', 80, 67, -73, 15, 14, 89, 53, 24, 74, 45]

# 1. List append() method :-

==> The python list append() method is used for appending and adding elements to the end of the list.

Syntax :-
            list.append(item)

In [13]:
# Ex - 

a = [12,74,56,38,83]
b = [34,52,47,36,24]
c = a+b
print(c)

[12, 74, 56, 38, 83, 34, 52, 47, 36, 24]

In [14]:
# Ex - 

m = [12,35,43,39,60,58,72,64,83,45,19,24]
a.append(-5)
print(a)

[12, 74, 56, 38, 83, -5]

In [16]:
L = [22,43,48,62,93,74,57]
a = ["Hello","Students","Parents"]
L.append(a)
print(L)

[22, 43, 48, 62, 93, 74, 57, ['Hello', 'Students', 'Parents']]

In [20]:
L
L.append(23,43)     # 2 arguments not accept the list.

TypeError: list.append() takes exactly one argument (2 given)

# 2. List extend() method :-

==> The python list extend() method iterates over an iterable like string, list, tuple etc. and adds each element of the iterable to the end of the list, modifying the original list.

Syntax :-
            list.extend(iterable)

In [21]:
# Ex - 

l = [12,14,23,34,30]
l.extend([-1,-2,-3,-4,-5])
print(l)

[12, 14, 23, 34, 30, -1, -2, -3, -4, -5]

In [22]:
a = [23,56,72,33,46,83]
a.extend(['Students','Parents','Kamalesh'])
print(a)

[23, 56, 72, 33, 46, 83, 'Students', 'Parents', 'Kamalesh']

# 3. List insert() method :-

==> python list insert() method insert a given element at a given index in a list using python.

Syntax :-
            list_name.insert(index,element)

index = The index at which the element has to be inserted.
element = The element to be inserted in the list.

In [23]:
# Ex - 

L = [12,45,32,27,38,48]
#    0  1  2  3  4  5
L.insert(2,-10)
print(L)

[12, 45, -10, 32, 27, 38, 48]

In [24]:
a = [23,45,52,37,65,40]
a.insert(3,"Hello")
print(a)

[23, 45, 52, 'Hello', 37, 65, 40]

# 4. List remove() method :-

==> Python list remove() method is an inbuilt function in the python language that removes a given object from the list.

Syntax :-
            list_name.remove(object)

In [25]:
# Ex - 

a = [27,53,64,89,20,29]
a.remove(64)
print(a)

[27, 53, 89, 20, 29]

In [26]:
# Ex - 

x = [20,32,45,63,49,44]
y = [-1,-2,-3]
z = ["Cat","Dog","Parrot"]
x.append(y)
print(x)
x.append(z)
print(x)

[20, 32, 45, 63, 49, 44, [-1, -2, -3]]
[20, 32, 45, 63, 49, 44, [-1, -2, -3], ['Cat', 'Dog', 'Parrot']]

In [27]:
x.remove(y)
print(x)

[20, 32, 45, 63, 49, 44, ['Cat', 'Dog', 'Parrot']]

# 5. List pop() method :-

==> Python list pop() method is an inbuilt function in python that removes and returns the last value from the list or the giiven index value.

Syntax :-
            list_name.pop(index)

In [28]:
# Ex - 

a = [73,67,56,68,27,20,38]
#    0  1  2  3  4  5  6  --> Indexing

a.pop(4)
print(a)

[73, 67, 56, 68, 20, 38]

# 6. List clear() method :-

==> Python list clear() method is used for removing all items from the list, The list clear() method modifies the list-in-place.

Syntax :-
            list_name.clear()

In [29]:
# Ex - 

a = [25,47,34,88,24,35]
print(len(a))
a.clear()
print(a)
print(len(a))

6
[]
0

# 7. List count() method :-

==> Python list count() method returns the count of how many times a given object occurs in a list.

Syntax :-
            list_name.count(object)

In [36]:
# Ex - 

a = [13,34,43,28,25,34,25,77,39,50,49,38,43,23,76,83]
b = a.count(43)     # 43 --> list me 43, 2 times repeat hai.
print(b)

2

In [39]:
b = a.count(13)
print(b)
b = a.count(20)
print(b)

1
0

# 8. List max() method :-

==> Python list max() method returns the maximum value present in the list.

Syntax :-
            max(list_name)

In [41]:
# Ex - 

a = [75,65,38,49,72,33,54,70]
print(max(a))

75

In [43]:
b = ["Hello","Students"]
print(max(b))             # Max find the according to alphabate.

Students

# 9. List min() method :-

==> Python list min() method returns the smallest of the values or the smallest item in the iterable passed as a parameter.

Syntax :-
            min(list_name)

In [44]:
# Ex - 

a = [75,65,38,49,72,33,54,70]
print(min(a))

33

In [45]:
b = ["Hello","World"]
print(min(b))

Hello

# 10. List sort() method :-

==> Python list sort() method can be used to sort a list in ascending, descending or user-defined-order.
==> In each case, the time complexity is O(nlogn) in pyhton.

Syntax :-
            list_name.sort(reverse=True/False, key = myFunc)

reverse :- reverse=True will sort the list descending. By default is reverse=False.

In [2]:
# Ex - 

a = [12,65,23,46,30,53,26,54,87]
a.sort()         # By default ascending order.
print(a)

[12, 23, 26, 30, 46, 53, 54, 65, 87]

In [3]:
a = [23,45,87,46,73,29,78,54,37,82,28]
a.sort(reverse=True)        # For discending order.
print(a)

[87, 82, 78, 73, 54, 46, 45, 37, 29, 28, 23]

In [4]:
b = ['Anuj','Balwan','Yash','Hemant','Aditya','Kamal','Gajendra']
b.sort()
print(b)

['Aditya', 'Anuj', 'Balwan', 'Gajendra', 'Hemant', 'Kamal', 'Yash']

In [5]:
b.sort(reverse=True)
print(b)

['Yash', 'Kamal', 'Hemant', 'Gajendra', 'Balwan', 'Anuj', 'Aditya']

# 11. List reverse() method :-

==> Python list reverse() method is an inbuilt method in the python language that reverses objects of the list in place.

Syntax :-
            list_name.reverse()

In [10]:
L = [20,32,25,23,45,76,52,30,86,21,31]
print(L[0])
L.reverse()
print(L)
print(L[0])

20
[31, 21, 86, 30, 52, 76, 45, 23, 25, 32, 20]
31

In [11]:
a = ["Apple","cat","Van","Hen"]
a.reverse()
print(a)

['Hen', 'Van', 'cat', 'Apple']

# 12. Index method in list :-

In [12]:
a = [75,43,28,71,62,53,79,80,70]
print(a[0])

75

In [13]:
print(a.index(53))

5

# 13. List Copy() method :-

==> This method returns a shallow copy of a list (returns a new list without modifying the original list.)

In [18]:
# Ex - 

L = [12,45,34,65,73,78,59,30]
L1 = []
L1 = L
print(L1)

L[2] = "Hello"
print(L)
print(L1)

[12, 45, 34, 65, 73, 78, 59, 30]
[12, 45, 'Hello', 65, 73, 78, 59, 30]
[12, 45, 'Hello', 65, 73, 78, 59, 30]

In [19]:
# Ex - 

L = [23,45,78,46,32,76,89]
L1 = L.copy()
print(L1)

[23, 45, 78, 46, 32, 76, 89]

In [22]:
L1[2] = "Students"
print(L1)      # Copy() method only change that list, not change in original list.
print(L)

[23, 45, 'Students', 46, 32, 76, 89]
[23, 45, 78, 46, 32, 76, 89]

# Que-1. Take the input of the list from the user and then reverse the list.

In [23]:
a = []
n = int(input("Enter the number of elements you want in the list : "))
for i in range(n):
    a.append(int(input("Enter elements : ")))
print(a)

a.reverse()
print(a)

Enter the number of elements you want in the list :  5
Enter elements :  23
Enter elements :  45
Enter elements :  87
Enter elements :  33
Enter elements :  28

[23, 45, 87, 33, 28]
[28, 33, 87, 45, 23]

# Que-2. Take the input from the user and interchange the first and the last element of the list.

In [24]:
l = []
m = int(input("How many items you want in the list : "))
for i in range(m):
    l.append(int(input("Enter elements : ")))
print(l)

temp = l[0]
l[0] = l[4]
l[4] = temp
print(l)

How many items you want in the list :  6
Enter elements :  23
Enter elements :  12
Enter elements :  43
Enter elements :  54
Enter elements :  88
Enter elements :  67

[23, 12, 43, 54, 88, 67]
[88, 12, 43, 54, 23, 67]