# Tuples :-

==> A python tuple is a group of items that are seperated by commas.
==> The indexing, nested objects and repetitions of a tuple are somewhat like those of a list.
==> A tuple is a collection of objects which ordered and immutable.
==> Tuples items are ordered unchangable, and allow duplicate values.
Ordered :- When we say that tuples are ordered, it means that the items have a defined order and that order will not change.
Unchangable :- Tuples are unchangable, meaning that we cannot change, add or remove items after the tuple has been created.
Allow duplicate :- Since tuples are indexed, they can have items with the same value.

Tuple :-
--> Tuple is immutable. It cannot be change after assignment.
--> Tuple uses parenthesis for comma-seprated values.
--> We cannot modify tuples.
--> Faster
--> Create a tuple :
my_tuple = (1,25,100);
        or
my tuple = 1,25,100;

Lists :-
--> Lists are mutable. It can be changed.
--> Lists uses square brackets for comma-seprated values.
--> We can modify lists.
--> slower , compared to tuple.
--> Create a list :
list1 = [10,25,100];

In [1]:
# Ex - 

T = (12,13,18,56,78,36)
print(T)
print(type(T))

(12, 13, 18, 56, 78, 36)
<class 'tuple'>

In [2]:
a = ()
print(type(a))

<class 'tuple'>

In [3]:
m = (23)       #  For tuples providing 2 or more than values provided.
print(type(m))

<class 'int'>

In [4]:
m = (23,)
print(type(m))

<class 'tuple'>

In [5]:
T = (12,35,78,(2,4,6),(2.3,4.3,5.6),("Hello","World"))
print(T)
print(type(T))

(12, 35, 78, (2, 4, 6), (2.3, 4.3, 5.6), ('Hello', 'World'))
<class 'tuple'>

# 1. Concatenation of tuples :-

In [7]:
tuple1 = (12,13,14,15)
tuple2 = (10,15,20,25,30)
print(tuple1+tuple2)

(12, 13, 14, 15, 10, 15, 20, 25, 30)

# 2. Nesting of tuples :-

In [8]:
tuple1 = (20,13,14,15)
tuple2 = (-1,-2,-3,-4)
tuple3 = (tuple1+tuple2)

print(tuple1)
print(tuple2)
print(tuple3)

(20, 13, 14, 15)
(-1, -2, -3, -4)
(20, 13, 14, 15, -1, -2, -3, -4)

# 3. Multiply tuples :-

In [9]:
fruits = ("Apple","Bat","Cherry")

t = fruits*3
print(t)

('Apple', 'Bat', 'Cherry', 'Apple', 'Bat', 'Cherry', 'Apple', 'Bat', 'Cherry')

# 4. Length of the tuples :-

In [10]:
a = (14,15,23,-4,-30,78,33,67,56,72,30)
print(len(a))

11

# 5. Count() method :-

In [13]:
t = (12,14,16,12,14,67,86,57,46,39,14,45,78,62,86,30,42)
print(t.count(14))
print(t.count(86))
print(t)
print(type(t))

3
2
(12, 14, 16, 12, 14, 67, 86, 57, 46, 39, 14, 45, 78, 62, 86, 30, 42)
<class 'tuple'>

# 6. Indexing in tuple :-

In [14]:
a = (48,12,63,54,12,78,48,36)
print(a[2])

63

In [15]:
print(a[5])

78

In [16]:
print(a[-1])

36

# 7. Index method :-

In [17]:
a = (14,12,36,89,74,23,16)
x = a.index(89)
print(x)

3

# 8. Slicing in tuple :-

In [19]:
a = (45,21,35,46,72,45,28,39,26,34,57)
print(len(a))
print(a[0:])

11
(45, 21, 35, 46, 72, 45, 28, 39, 26, 34, 57)

# 9. Repetition in tuples :-

In [32]:
# Ex - 

t = (20)*3
print(t)

60

In [33]:
tuple1 = (10,8,9,7)
tuple[1] = 15
print(tuple1)

TypeError: 'int' object does not support item assignment

# 10. Tuple method :-

In [5]:
b = [12,15,23,24,28]
p = tuple(b)
print(p)

(12, 15, 23, 24, 28)

Que-1. Convert a list into tuple and reverse it.

In [6]:
# Sol :- 1.                  # Problem list cannot be change in tuple.

a = [12,32,45,65,"apple","pink","blue"]
print(type(a))
b = tuple(a)
print(b)
print(b[::-1])

<class 'list'>
(12, 32, 45, 65, 'apple', 'pink', 'blue')
('blue', 'pink', 'apple', 65, 45, 32, 12)

In [2]:
a = (12,32,45,65,"apple","pink","blue")
b = list(a)
print(b)

[12, 32, 45, 65, 'apple', 'pink', 'blue']

In [8]:
c = tuple(b)
print(c)

(12, 32, 45, 65, 'apple', 'pink', 'blue')

# 11. Add items in tuple :-

Que-2. Add the value 18 in the tuple.

In [9]:
# Sol :- 2.

t1 = (12,13,14,15,16,17)
l1 = list(t1)
print(l1)
l1.append(18)
print(l1)
t1 = tuple(l1)
print(t1)

[12, 13, 14, 15, 16, 17]
[12, 13, 14, 15, 16, 17, 18]
(12, 13, 14, 15, 16, 17, 18)

# 12. Remove item from the tuple :-

In [11]:
a = (12,32,63,21,45,78,37)
t2 = list(a)
print(t2)
t2.remove(78)
print(t2)
t2 = tuple(t2)
print(t2)

[12, 32, 63, 21, 45, 78, 37]
[12, 32, 63, 21, 45, 37]
(12, 32, 63, 21, 45, 37)

# 13. max() in tuples :-

In [12]:
a = (12,35,72,36)
print(max(a))

72

In [13]:
a = ("Hello","Apple","Mobile","Datascience","Code")
print(max(a))

Mobile

# 14. min() in tuples :-

In [14]:
a = (12,35,72,36)
print(min(a))

12

In [15]:
a = ("Hello","Apple","Mobile","Datascience","Code")
print(min(a))

Apple

# 15. Unpacking of tuples :-

In [16]:
fruits = ("apple","banana","cherry")

(green,yellow,red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

# 16. Using asterisk(*) :-

In [17]:
# Ex -

fruits = ("Apple","Banana","Cherry","Strawberry","Respberry")
(green,yellow,*red) = fruits
print(green)
print(yellow)
print(red)

Apple
Banana
['Cherry', 'Strawberry', 'Respberry']

In [18]:
# Ex - 

fruits = ("Apple","Banana","Mango","Papaya","Pinepple","Cherry")
(green,*tropic,red) = fruits
print(green)
print(tropic)
print(red)

Apple
['Banana', 'Mango', 'Papaya', 'Pinepple']
Cherry

Que-1. Sort a tuple

In [19]:
# Sol :- 1.

a = (23,87,13,16,34,75,87,56,48,38,22,92,-42,-3)
n = list(a)
print(n)

n.sort()
print(n)
n = tuple(n)
print(n)

[23, 87, 13, 16, 34, 75, 87, 56, 48, 38, 22, 92, -42, -3]
[-42, -3, 13, 16, 22, 23, 34, 38, 48, 56, 75, 87, 87, 92]
(-42, -3, 13, 16, 22, 23, 34, 38, 48, 56, 75, 87, 87, 92)

# 17.Using loops in python :-

Que-1. Seperate positive and negative integers from the tuple.

In [22]:
# Sol :- 1.

a = (14,6,18,23,-5,-9,-20,26,31,-2,8,-10)

n1 = []
n2 = []
a = list(a)     #  Convert tuple into the list.

for i in range(len(a)):
    if a[i]>=0:
        n1.append(a[i])
print(n1)
print(tuple(n1))

for i in range(len(a)):
    if a[i]<=0:
        n2.append(a[i])
print(n2)
print(tuple(n2))

[14, 6, 18, 23, 26, 31, 8]
(14, 6, 18, 23, 26, 31, 8)
[-5, -9, -20, -2, -10]
(-5, -9, -20, -2, -10)

Que-2. Multiply adjacent elements in tuple.

In [9]:
# Sol :- 2.

a = (2,5,3,6,4,8,1)
b = []
print(type(b))

a = list(a)
print(a)
print(type(a))

for i in range(len(a)-1):
    b.append(a[i]*a[i+1])
print(b)
print(tuple(b))

<class 'list'>
[2, 5, 3, 6, 4, 8, 1]
<class 'list'>
[10, 15, 18, 24, 32, 8]
(10, 15, 18, 24, 32, 8)

Que-3. Original list of tuple [(1,2),(2,3),(3,4)]. Convert it into list of lists [[1,2],[2,3],[3,4]].

In [6]:
# Sol :- 3.

a = [(1,2),(2,3),(3,4)]
b = []
print(type(a))

n1 = list(a[0])
n2 = list(a[1])
n3 = list(a[2])

b.append(n1)
b.append(n2)
b.append(n3)
print(b)

<class 'list'>
[[1, 2], [2, 3], [3, 4]]

Que-4. Original list of tuple [(1,2),(2,3),(3,4)]. Convert [3,5,7]

In [8]:
a = [(1,2),(2,3),(3,4)]

n1 = a[0]
m1 = n1[0]+n1[1]
print(m1)

n2 = a[1]
m2 = n2[0]+n2[1]
print(m2)

n3 = a[2]
m3 = n3[0]+n3[1]
print(m3)

b = []

b.append(m1)
b.append(m2)
b.append(m3)
print(b)

3
5
7
[3, 5, 7]

In [10]:
# Ex-

a = []
n = int(input("Enter the number of values : "))

for i in range(n):
    a.append(int(input("Enter elements : ")))
print(a)
print(type(a))

b = tuple(a)
print(b)
print(type(b))

Enter the number of values :  5
Enter elements :  12
Enter elements :  34
Enter elements :  56
Enter elements :  23
Enter elements :  76

[12, 34, 56, 23, 76]
<class 'list'>
(12, 34, 56, 23, 76)
<class 'tuple'>